<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear />
    <add key="Email:Port" value="2345" />
    <add key="Email:Ssl" value="true" />
    <add key="Email:Username" value="MyUserName" />
    <add key="Akismet:ApiKey" value="SomeKey" />
    <add key="Blog:EnableComments" value="true" />
    <add key="Blog:EnableHistory" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>